.idea/
.DS_Store
mysql/*
!mysql/.gitkeep
.serverless
.tmp
node_modules
lerna-debug.log
todos
.yarnrc
**/.coverage
.dccache
.env
\.docs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn.lock